.icologo {
  max-width: 100%;
  height: auto;
}

.header {
  margin-top: 3%;
}

.statisticswrapper {
  margin-top:   3%;
}

.statisticsmallheaders {
  margin-top: 8%;
  margin-bottom: 4%;
}

.statisticsheader {

}
