<div class="row">

  <div class="col-sm-12 header">
  </div>

  <div class="col-sm-4">
    <img src="https://cointelegraph.com/storage/uploads/view/a7c54d85875d8c0ada0a12ee79d67994.jpg" class="icologoimage rounded img-fluid">
  </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <h4>Cindicator</h4>
        </div>
        <div class="col-sm-4">
          <div class="row">
          <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div><div class="col-sm-6">test</div>

          </div>
        </div>
        <div class="col-sm-8">
            <p>
            Giza Device : Innovative and easy in use device, including cryptocurrency
            wallet, password manager, u2f authentication system and encrypted data
            storage everything in the elegant water- resistant body. We have a wide
            functional and we do not have competitors.

            Each investor gets 5% bonus per each $10 000 spent Each investor
            gets 7% bonus per each $20 000 spent Each investor gets 10% bonus per
            each $35 000 spent
            </p>
          </div>
        </div>
      </div>
    </div>
  <div class="col-sm-12 statisticswrapper">
    <div class="col-sm-12 statisticsheader">
      <h4>Statistics</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h6 class="statisticsmallheaders">ICO info</h6>
        <div class="row">
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        </div>
      </div>
      <div class="col-sm-4">
        <h6 class="statisticsmallheaders">ICO info</h6>
        <div class="row">
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        </div>
      </div>
      <div class="col-sm-4">
        <h6 class="statisticsmallheaders">ICO info</h6>
        <div class="row">
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h6 class="statisticsmallheaders">ICO info</h6>
        <div class="row">
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        </div>
      </div>
      <div class="col-sm-4">
        <h6 class="statisticsmallheaders">ICO info</h6>
        <div class="row">
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        <div class="col-sm-6">test</div><div class="col-sm-6">test</div>
        </div>
      </div>
    </div>
  </div>
