<form>
<div class="row">
  <div class="col-sm-12">
    <span class="custom-control-description">
      <p class="text-right requiredfields">
      Show only required fields
      </p>
    </span>
  </div>
  <div class="col-sm-6">
    <label class="col-12 col-form-label">companyName</label>
    <div class="col-12">
      <input name="companyName" [(ngModel)]="icoData.companyName" class="form-control" type="text">
    </div>

    <label class="col-12 col-form-label">Description</label>
    <div class="col-12">
      <textarea  name="companyDescription" [(ngModel)]="icoData.companyDescription" class="form-control" rows="3"></textarea>
    </div>
      <label class="col-12 col-form-label">companyLogoUrl</label>
    <div class="col-12">
      <input class="form-control" type="text">
    </div>
    <label class="col-12 col-form-label">tokenName</label>
    <div class="col-12">
      <input name="tokenName" [(ngModel)]="icoData.tokenName" class="form-control" type="text">
    </div>
    <label class="col-12 col-form-label">icoStatus</label>
    <div class="col-12">
      <input name="icoStatus" [(ngModel)]="icoData.icoStatus" class="form-control" type="number">
    </div>

  </div>
  <div class="col-6">





  </div>
  <div class="col-12 mediumspace">
  </div>
  <div class="col-4">
    <h5>Important dates</h5>
  </div>
  <div class="col-4">
    <h5>Social Media</h5>
  </div>
  <div class="col-4">
    <h5>Product</h5>
  </div>
  <div class="col-4">
      <label name="icoStartDate" [(ngModel)]="icoData.icoStartDate" class="col-12 col-form-label">icoStartDate</label>
    <div class="col-12">
      <input class="form-control" type="date">
    </div>
      <label name="icoEndDate" [(ngModel)]="icoData.icoEndDate" class="col-12 col-form-label">icoEndDate</label>
    <div class="col-12">
      <input class="form-control" type="date">
    </div>
    <label name="whitelistStartDate" [(ngModel)]="icoData.whitelistStartDate" class="col-12 col-form-label">whitelistStartDate</label>
    <div class="col-12">
      <input class="form-control" type="date">
    </div>
    <label name="whitelistEndDate" [(ngModel)]="icoData.whitelistEndDate" class="col-12 col-form-label">whitelistEndDate</label>
    <div class="col-12">
      <input class="form-control" type="date">
    </div>
  </div>

    <div class="col-4">
        <label class="col-12 col-form-label">twitterFollowers</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
        <label class="col-12 col-form-label">telegramFollowers</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
      <label class="col-12 col-form-label">facebookFollowers</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
    </div>

    <div class="col-4">
        <label class="col-12 col-form-label">productPotential</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
        <label class="col-12 col-form-label">productExisting</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
    </div>

    <div class="col-12 mediumspace">
    </div>
    <div class="col-4">
      <h5>People</h5>
    </div>
    <div class="col-4">
      <h5>Finance</h5>
    </div>
    <div class="col-4">
      <h5>External partners</h5>
    </div>

    <div class="col-4">
        <label class="col-12 col-form-label">peopleTeam</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
        <label class="col-12 col-form-label">peopleAdvisors</label>
      <div class="col-12">
        <input class="form-control" type="text">
      </div>
    </div>

      <div class="col-4">
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
        <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
        <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
        <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
      </div>
    <label class="col-12 col-form-label">Text</label>
    <div class="col-12">
      <input class="form-control" type="text">
    </div>
    <label class="col-12 col-form-label">Text</label>
    <div class="col-12">
      <input class="form-control" type="text">
  </div>
      </div>

      <div class="col-4">
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
          <label class="col-12 col-form-label">Text</label>
        <div class="col-12">
          <input class="form-control" type="text">
        </div>
      </div>
    <div class="col-12">
      <button class="btn btn-primary float-right mediumspace" (click)="createNew(icoData)">Send in</button>
    </div>

</form>
